<h1>The Forest Trip</h1>

<p>You and your @Model.NounOne, go on your favorite annual Forest Trip You are just so darn 
@Model.AdjOne 
to go on this camping trip. You  @Model.AdverbOne pack your bags and 
@Model.AdverbTwo out the door. 
You quickly realize you forgot your @Model.NounTwo!!! You say "Forget it I won't Need it!". 
You arrive at your destination and unpack your @Model.NounThree. 
You @Model.VerbOne to the top of your campsite to get a look around.You See a 
@Model.AdjTwo thing sticking out of the ground about 500 feet away. 
You @Model.AdverbThree down the hill over to the object you saw. Upon closer evaluation you see clearly seethat this 
@Model.AdjThree thing is 
@Model.VerbTwo and you are in danger. You don't know what to do so You just
@Model.VerbThree.
</p>






